*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#f1f1f1;
}

.container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0px;

    
}

.heading {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;

}

.login-form {
    padding: 30px 20px;
    display: flex;
    background-color: #fff;
}

.left-side{
    display: flex;
    gap: 5px;
    flex: 1;
    flex-direction: column;
}

.red-box {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #FE7AA2;

}


.label-text{
    font-size: 13px;
    font-weight: bold;
}

.input {
    width: 90%;
    padding: 10px;
    border-radius: 100vmax;
    border: none;
    background-color:#f8f9fb;
}

.input::placeholder{
    opacity: 0.7
}

.login-button{
    width: 50%;
    padding: 10px 0px;
    border-radius: 100vmax;
    border: none;
    color: #fff;
    background-color: #fE7AA2;
    cursor: pointer;
}

.right-side{
    flex: 1;
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-side-btn {
    padding: 10px 0px;
    border-radius: 100vmax;
    border: none;
    color: #fff;
    cursor: pointer;
}

.right-side-first-btn {
    background-color: #3b5999;
}

.right-side-second-btn {
    background-color: #1DA1F3;
}

.signup-text{
    font-weight: bold;
}

.footer {

    padding: 40px 0px;
}

.footer-text{
    text-align: center;
}
